main.home {
    overflow-y: hidden;
    justify-content: center;
}

main.home h1 {
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    margin-bottom: 30px;
}

main.home label {
    width: 100%;
}

main.home button[type="submit"] {
    width: 200px;
    font-size: 18px;
    padding: 10px 20px;
}